<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add items</title>
</head>
<body>
    <h1>Temp Add Items</h1>
    <form action="/_temp_add_items" method="post">
        <input type="text" name="item_brand" placeholder="Brand"><br>
        <input type="text" name="item_name" placeholder="Name"><br>
        <input type="text" name="item_category" placeholder="Category"><br>
        <input type="text" name="loc_id" placeholder="Location ID"><br>
        <input type="submit" value="Add Item">
    </form>
</body>
</html>