<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add items</title>
</head>
<body>
    <h1>Temp Add Items</h1>
    <form action="/_temp_add_items" method="post">
        <input type="text" name="location_id" placeholder="id"><br>
        <input type="text" name="location" placeholder="location"><br>
        <input type="text" name="item_category" placeholder="category"><br>
        <input type="text" name="item_location" placeholder="location"><br>
        <input type="submit" value="Add Item">
    </form>
</body>
</html>