<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Store Home</title>
</head>
<body>
    <h1>Store Item Locator</h1>
    <form action="/store" method="post">
        <input type="text" name="search_item" placeholder="search items by name"><br>
        <input type="submit" value="Search">
    </form>
    <br>
    <h2>{{ store_id }}: {{ store_name }}</h2>
    <table>
        <tr>
            <th>Brand</th>
            <th>Name</th>
            <th>Location ID</th>
            <th>Add Item to List</th>
        </tr>
        {% for key in returned_items %}
            <tr>
                {% for value in returned_items[key] %}
                    <td>{{ value }}</td>
                {% endfor %}
                <td><input type="button" value="Add"></td>
            </tr>
        {% endfor %}
    </table>
    <img src="{{ store_map }}">
</body>
</html>